.login-input {
  width: 130px;
}

.form-button {
  width: 80px;
  height: 35px;
}

.signup-box {
  margin: auto;
  width: 325px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
}

.settings-box {
  margin: auto;
  width: 325px;
}

.signup-area {
  padding: 30px;
}

.payment-area {
  margin: auto;
  width: 500px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  padding: 50px;
}

.settings-area {
  padding: 30px;
}

.header-image {
  background-image: url("/static/img/landing_page.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.bot-area {
  width: 1200px;
}

.bot-card {
  margin-bottom: 20px;
}

/* 
.bot-list {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2%;
  padding: 1%;
}
.left-right{
  display: flex;
  align-content: center;
  justify-content: center;
}

.bot-card {
  background-color: #0f7;
  flex: 1;
  text-align: center;
  font-size: 2rem;
  margin: 1%;
}
.custom-rows {
  display: flex;
  flex: 1;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */