.login-input {
  width: 130px;
}

.form-button {
  width: 80px;
  height: 35px;
}

.signup-box {
  margin: auto;
  width: 325px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
}

.settings-box {
  margin: auto;
  width: 325px;
}

.signup-area {
  padding: 30px;
}

.payment-area {
  margin: auto;
  width: 500px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  padding: 50px;
}

.settings-area {
  padding: 30px;
}

.header-image {
  background-image: url("/static/img/landing_page.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.bot-area {
  width: 700px;
}

.bot-card {
  margin-bottom: 20px;
}

.chat-area {
  padding: 20px;
  height: 380px;
  margin-bottom: 20px;
  background-color: gray;
  overflow: auto;
}

.chat-msg {
  border-style: solid;
  background-color: white;
  border-radius: 15px;
  border-width: thin;
  border-color: lightblue;
  padding: 5px;
  margin-bottom: 5px;
  min-height: 60px;
}

.chat-msg-bot {
  border-style: solid;
  background-color: white;
  border-radius: 15px;
  border-width: thin;
  border-color: lightcoral;
  padding: 5px;
  margin-bottom: 5px;
  min-height: 60px;
}

.intro-msg {
  margin-top: 20px;
  margin-bottom: 20px;
}