{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  
  <article class="message intro-msg">
    <div class="message-header">
      <p>You are chatting with {{ patient.name }}</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      {{patient.intro}}
    </div>
  </article>

  <article class="message intro-msg">
      <div class="message-header">
        <p>Case File (The chat bot will extract information from this case file)</p>
        <button class="" aria-label="" id="show-case">Show/Hide</button>
      </div>
      <div class="message-body" id="case" style="display: none;">
        {{patient.case}}
      </div>
    </article>

  <div class="chat-area" id="chat">
  </div>

  <div class="field has-addons" style="margin-bottom: 20px;">
    <div class="control">
      <input class="input is-primary" type="text" id="send-text" placeholder="Ask a question">
      <input type="hidden" id="hidden-bot" value="{{ patient.id }}">
    </div>
    <div class="control">
      <button id="send-button" class="button">Ask</button>
    </div>
    <div class="control">
      <a href="/" class = "button is-danger">Go back</a>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script>

  const button = document.getElementById("send-button");
  const showcasebtn = document.getElementById("show-case");
  const text = document.getElementById("send-text");
  const chat = document.getElementById("chat");
  const patient_id = document.getElementById("hidden-bot").value

  function addMyChat(msg) {
    const message = `<div class="chat-msg">
      <img src="/static/img/index.jpeg" alt="Avatar" class="right" style="width:50px; margin-right:5px; float: left">
      <p ">${msg}</p>
    </div>`
    chat.innerHTML += message;
  }

  function addBotChat(msg) {
    const message = `<div class="chat-msg-bot">
      <img src="/static/img/robot.png" alt="Avatar" class="right" style="width:50px;  margin-right:5px; float: left">
      <p ">${msg}</p>
    </div>`
    chat.innerHTML += message;
  }

  async function postData(url = '', data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
      mode: 'cors', // no-cors, *cors, same-origin
      credentials: 'same-origin', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
      redirect: 'follow', // manual, *follow, error
      body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
    return await response.json(); // parses JSON response into native JavaScript objects
  }


  text.addEventListener("keyup", event => {
    if (event.keyCode === 13) {
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      button.click();
    }
  })
  
  button.addEventListener("click", async () => {
    let msg = text.value;
    addMyChat(msg);
    const resp = await postData("/chat", { patient_id: "{{ patient.id }}", message: msg })
    addBotChat(resp.message);
    text.value = "";
  });

  showcasebtn.addEventListener("click", async () => {
    var x = document.getElementById("case");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  });

</script>

{% endblock %}