<section class="hero is-dark  ">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/static/img/steth.png" alt="BetterDoctor">
        <h6 href="/" class="subtitle"><strong>BetterDoctor</strong></h6>
      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-item">
      <p> Logged in as {{ user.username }} {% if user.paid %}<i class="fa fa-check-circle" style="color: cyan"></i> {% endif %}</p>    
    </div>
    {% if not user.paid %}
    <div class="navbar-item">
      <a href="/payment" class="button is-danger">Purchase Full Access for $20</a>
    </div>
    {% endif %}
    <div id="navbar-menu-id" class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a href="/logout" class="button is-primary is-outlined">
                <span>Logout</span>
              </a>
            </p>
            <p class="control">
              <a href="/settings" class="button is-primary is-outlined">
                <span id="cog" class="icon">
                  <i class="fa fa fa-cog"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>