{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>BetterDoctor</title>
<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="payment" class="payment-box">
        <div class="payment-area">    
          <h1 class="title">Purchase Full Access</h1>
          <ul>
            <li><i class="fa fa-check" style="color: white"></i> One-time $20 payment</li>
            <li><i class="fa fa-check" style="color: white"></i> Life-Time access to high quality chat bots</li>
            <li><i class="fa fa-check" style="color: white"></i> Free Access to new Bots when they become available</li>
          </ul>
          <br/>
          <form action="/charge" method="post">
            <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="{{ key }}"
              data-description="Better Doctor Charge"
              data-amount="2000"
              data-locale="auto">
            </script>
          </form>
        </div>
      </div>    
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
